################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GERTAR/FileContentIndex/4b51f370-d9ac-4565-b4d6-c22a879b88e2.vsidx
/.vs/GERTAR/FileContentIndex/59d5bbea-73ec-4810-a05c-6c1ec0563714.vsidx
/.vs/GERTAR/FileContentIndex/6b3d1d00-5036-42da-92c3-fd70a81e13bd.vsidx
/.vs/GERTAR/FileContentIndex/7e07e923-8c17-4fa5-a6fc-e7e27a527e2e.vsidx
/.vs/GERTAR/FileContentIndex/7ee22207-6d54-40d7-8ba9-d4fe8c0e69c0.vsidx
/.vs/GERTAR/FileContentIndex/945c1279-0c08-4b9d-a6d1-c6c52a4f54b8.vsidx
/.vs/GERTAR/FileContentIndex/a7708cf8-04be-4d26-af9b-6848c1310738.vsidx
/.vs/GERTAR/FileContentIndex/d0d3c433-4e1c-42b7-86b6-c21c61635f58.vsidx
/.vs/GERTAR/FileContentIndex/d5b8368e-2e0b-4819-bf13-de88b5346623.vsidx
/.vs/GERTAR/FileContentIndex/f7da343b-38fa-439a-96f3-2302f44faa5d.vsidx
